  <!--
    * error.ejs 
    * Created by Victor Chaparro
    * Studen ID: 301140944
    * Oct - 05 - 2020
    * This partial ejs file catch and show error messages
    -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include('partials/footer'); %>
